<h1>All Contacts</h1>

<% @contacts.each_slice(3) do |three_contacts| %>

  <div class="row">

    <% three_contacts.each do |contact| %>

      <div class="col-md-4">
        <div class="well">
          <h4>First Name: <a href="contacts/<%= contact.id %>"><%= contact.first_name %></a></h4>
          <h4>Last Name: <%= contact.last_name %></h4>
         
          <h4>Email: <%= contact.email %></h4>
          <h4>Phone Number: <%= contact.phone_number %></h4>
        </div>
      </div>
    <% end %>
  </div>
<% end %>